<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
      
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav class="sticky-top shadow-sm navbar navbar-light bg-info shadow-lg p-3 mb-5 rounded">
            <div class="container">
                <h2>Catalog App</h2>
                
                    {% if username %}
                      <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{url_for('gdisconnect')}}">Logout</a>
                        </div>
                      </div>
                    {% else %}
                    <button class="btn btn-dark" data-toggle="modal" data-target="#login_panel" type="submit">
                      Login
                    </button>
                    {% endif %}
                  
            </div>  
        </nav>

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
        
    </body>
</html>
<!-- Modal -->
<div class="modal fade" id="login_panel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="signinButton">
              <form method='post'>
          <a href="/login" class="oauth-btn btn btn-block btn-social btn-md btn-google center-block btn-danger" style="width: 100%; color: white;" >
            <span class="fa fa-google" style="color: white;"></span> Sign in with Google
          </a>
          </form>
        </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<!-- <script> -->
    {% block scripts %}
    {% endblock %}
    <script>
        function postExample() {
            $.post('/login', {"postfield1":"val1"}, function(resp) {
                //Do something with the AJAX response
                $.ajax({
                    type: 'POST',
                    url: '/login',
                });
            });
        }
   </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('a[name="google-login"]').click(function(){

                $.ajax({
                    type: 'POST',
                    url: '/login',
                });
      });
    });
    </script>


