<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
      
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav class="sticky-top shadow-sm navbar navbar-light bg-info shadow-lg p-3 mb-5 rounded">
            <div class="container">
                <h2>Catalog App</h2>
                
                    {% if username %}
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{url_for('gdisconnect')}}">Logout</a>
                        </div>
                      </div>
                    {% else %}
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#login_panel" type="submit">
                      Login
                    </button>
                    {% endif %}
                  
            </div>  
        </nav>

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
        
    </body>
</html>
<script>
    {% block scripts %}
    {% endblock %}
    function signInCallback(authResult) {
      if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/dashboard";
         }, 1000);
          
        } else if (authResult['error']) {
      console.log('There was an error: ' + authResult['error']);
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
        }
        
      }); } }
    </script>

<!-- Modal -->
<div class="modal fade" id="login_panel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Please login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <!-- <h4 style="color:black;text-align:center;">- or -</h4> -->
              
              <a class="oauth-btn btn btn-block btn-social btn-md btn-github center-block btn-dark " style="width: 100%; color: white;" id="github_login" >
                <span class="fa fa-github" style="color: white;"></span> Sign in with Github
              </a>
              <div id="signinButton">
              <a href="/google_login" class="oauth-btn btn btn-block btn-social btn-md btn-google center-block btn-danger" style="width: 100%; color: white;" >
                <span class="fa fa-google" style="color: white;"></span> Sign in with Google
              </a>

              <!-- <div id="signinButton">
                  <span class="g-signin"
                    data-scope="openid email"
                    data-clientid={{google_client_id}}
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
                </div> -->
            </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>