{% extends "base.html" %}

{% block css %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
                {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                                <strong> {{ message }} </strong>
                        </div>
                {% endfor %}
        {% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
                {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                                <strong> {{ message }} </strong>
                        </div>
                {% endfor %}
        {% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["info"]) %}
        {% if messages %}
                {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                                <strong> {{ message }} </strong>
                        </div>
                {% endfor %}
        {% endif %}
{% endwith %}
<div class="card shadow-lg p-3 mb-5" style="width: 100%;">
        {% if username %}
        <input type='button' class="btn btn-outline-primary" value='Create items' onclick="location.href= '{{ url_for('new_items', username=username) }}'">
        {% endif %}
        <div class="row">
                <div class="col">
                        <h1>Categories</h1>
                        {% for category in categories %}
                        {% if username %}
                                <h5><a href="/catalog/{{ category.id }}/{{ username }}">{{category.name}}</a></h5>
                        {% else %}
                                <h5><a href="/catalog/{{ category.id }}/none">{{category.name}}</a></h5>
                        {% endif %}
                        {% endfor %}
                </div>
                <div class="col">
                        {% if items %}
                        <h1>{{ category.name }} Items ({{ items_num }} items)</h1>
                                {% for item in items %}
                                {% if username %}
                                <h5><a href="/catalog/{{ item.categories.id }}/{{ item.id }}/{{ username }}">{{ item.title }}</a></h5>
                                {% else %}
                                <h5><a href="/catalog/{{ item.categories.id }}/{{ item.id }}/none">{{ item.title }}</a></h5>
                                {% endif %}
                                {% endfor %}
                        {% endif %}
                        
                        <h1>Latest Items</h1>
                        {% if latest_items %}
                        
                                {% for latest_item in latest_items|reverse %}
                                {% if username %}
                                <h5><a href="/catalog/{{ latest_item.categories.id }}/{{ latest_item.id }}/{{ username }}">{{ latest_item.title }}</a> ({{ latest_item.categories.name }})</h5>
                                {% else %}
                                <h5><a href="/catalog/{{ latest_item.categories.id }}/{{ latest_item.id }}/none">{{ latest_item.title }}</a> ({{ latest_item.categories.name }})</h5>
                                {% endif %}
                                {% endfor %}
                        {% endif %}
                </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}