{% extends "base.html" %}

{% block css %}
{% endblock %}
{% block content %}
<h1>Delete Item</h1>
{% if username %}
<div class="card shadow-lg p-3 mb-5" style="width: 100%;">
	<h3>Are you sure you want to delete {{deleted_item_title}} item?</h3>
	<form action="{{url_for('delete_item', categories_id=categories_id, categories_item_id=categories_item_id, username=username)}}" method='POST'>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type='submit' class="btn btn-outline-primary" value='Delete item'>
	</form>
</div>
{% endif %}
<form action="{{ url_for('dashboard', username=username) }}">
		<input type='submit' class="btn btn-outline-primary" value='Back to Dashboard' style="width: 15%;">
		</form>
{% endblock %}

{% block scripts %}
{% endblock %}