{% extends "base.html" %}

{% block css %}
{% endblock %}
{% block content %}
<h1>Details</h1>
{% if item %}
<div class="card shadow-lg p-3 mb-5" style="width: 100%;">
	<h2>{{ item.title }}</h2>
	<h4>Description: </h4>
	<h6>{{ item.description }}</h6>
	<div style="display: flex; justify-content: center;">
		<img width="80%" height="80%" src="data:;base64,{{image}}">
	</div>
	{% if username %}
	<form action="{{ url_for('delete_item', categories_id=categories_id, categories_item_id=categories_item_id, username=username) }}" >
		
		<input type='submit' class="btn btn-outline-primary" value='Delete'>
		
	</form>
	{% endif %}
</div>
{% endif %}
<form action="{{ url_for('dashboard', username=username) }}">
		<input type='submit' class="btn btn-outline-primary" value='Back to Dashboard' style="width: 15%;">
		</form>

{% endblock %}

{% block scripts %}
{% endblock %}